/*ここから記載*/
.company{
  margin: 80px auto;
}

.company-info tr{
  display: flex;
  border-bottom: solid 1px gray;
  padding: 20px;
}

.company-info tr:first-child {
  border-top: solid 1px gray;
}

.company-info-name{
  width: 30%;
}

.company-info-data{
  width: 70%;
}


