
/*ここから記載*/
.content {
  margin: 80px auto;
}

.content-inner h2{
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 1px gray;
  padding-bottom: 5px;
}

.sub-copy{
  padding: 20px 0;
}

.company-info {
  border: solid 2px #000000;
}

.company-info tr {
  display: flex;
  border-top: solid 0.5px gray;
}

.company-info-name {
  width: 30%;
  background-color: #dcdcdc;
  padding: 20px;
  border-right: solid 2px #000000;
}

.company-info-data {
  width: 70%;
  padding: 20px;
}

/*footer*/
.contact {
  background-color: #dcdcdc;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact__head {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact__copy {
  text-align: center;
  margin-bottom: 30px;
}

.contact__btn a {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  padding: 20px;
  background-color: #DC143C;
  width: 300px;
  color: #fff;
}

.footer {
  width: 100%;
  padding: 20px 4% 20px;
  background-color: #000000;
  display: flex;
  align-items: center;
}

.footer__cm {
  color: #fff;
  font-size: 10px;
}

.footer__nav-list a {
  color: #fff;
  font-weight: normal;
  font-size: 10px;

}

.footer__nav {
  margin: 0 0 0 auto;
}

.v_line_fix {
  width: 1px;
  height: 10px;
  background-color: #fff;
}

.v_line_fix:not(:first-child) {
  margin: 0 10px;
}

.footer__nav-list {
  margin: none;
  align-items: center;
}

.contact {
  background-color: #dcdcdc;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact__head {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact__copy {
  text-align: center;
  margin-bottom: 30px;
}

.contact__btn a {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  padding: 20px;
  background-color: #DC143C;
  width: 300px;
  color: #fff;
}

.footer {
  width: 100%;
  padding: 20px 4% 20px;
  background-color: #000000;
  display: flex;
  align-items: center;
}

.footer__cm {
  color: #fff;
  font-size: 10px;
}

.footer__nav-list a {
  color: #fff;
  font-weight: normal;
  font-size: 10px;

}

.footer__nav {
  margin: 0 0 0 auto;
}

.v_line_fix {
  width: 1px;
  height: 10px;
  background-color: #fff;
}

.v_line_fix:not(:first-child) {
  margin: 0 10px;
}

.footer__nav-list {
  margin: none;
  align-items: center;
}